<div class="container">
    <div class="row">
        <div class="col-8 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{cartList.length}}</span>
            </h4>



            <div class="row bg-white border-secondary border rounded">


                <div ng-repeat="item in cartList" class="col-12 border-secondary border-bottom">
                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger btn-sm float-right mt-2" ng-click="remove(item)">X emove</button>

                        </div>
                    </div>
                    <div class="row py-3 align-items-center">
                        <div class="col-8">
                            <strong>{{item.item.name}}</strong>
                            <p class="text-muted">
                                {{item.item.mini_description}}
                            </p>
                        </div>
                        <div class="col btn-group align-self-center">
                            <button type="button" ng-click="removeFromCart(item.item.slug)"
                                    class="btn btn-sm btn-outline-secondary">
                                -
                            </button>
                            <button type="button" ng-click="addToCart(item.item.slug)"
                                    class="btn btn-sm btn-outline-secondary">
                                +
                            </button>

                        </div>
                        <div class="col">{{quantityList[item.item.slug]}}</div>
                        <div class="col">${{item.item.price}}</div>
                    </div>
                </div>


            </div>

        </div>
        <div class="col-4 pt-5 mb-4">
            <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>${{total}}</strong>
                </li>
            </ul>

            <a href="/checkout" class="mt-3 shadow py-4 btn btn-success btn-block">
                Checkout
            </a>
        </div>
    </div>
</div>