<div class="container">

    <div class="row">

        <div class="col-12">
            <h2>Payment Method</h2>
            <div class="form-group">
                <lable class="text-muted">
                    <input checked type="radio" disabled/>
                    customer credit
                </lable>
            </div>
        </div>
        <div class="col-12">

            <h2>Payment Info</h2>
        </div>
        <div class="col-4">

            <div class="form-group">
                <lable>Address</lable>
                <input ng-model="form.address" class="form-control" placeholder="address">
            </div>
        </div>

        <div class="col-4">

            <div class="form-group">
                <lable>phone</lable>
                <input ng-model="form.telephone" class="form-control" placeholder="phone">
            </div>
        </div>
        <div class="col-4 pt-5 mb-4">
            <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (USD)</span>
                    <strong>${{total}}</strong>
                </li>
            </ul>

            <button ng-click="checkout()" class="mt-3 shadow py-4 btn btn-success btn-block">
                Checkout
            </button>
        </div>
    </div>

</div>