<div class="container">
    <div class="row">
        <div ng-repeat="item in itemsList" class="col-md-4">
            <div class="card mb-4 shadow-sm">

                <h3 class="text-center mt-3">
                    {{item.name}}
                </h3>
                <div class="card-body">
                    <p class="card-text">{{item.mini_description}}
                    </p>
                    <p class="bg-info p-2 text-white">
{{item.price}}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" ng-click="removeFromCart(item.slug)"
                                    class="btn btn-sm btn-outline-secondary">
                                -
                            </button>
                            <strong ng-show="cartList[item.slug]>0" class="btn btn-sm btn-outline-secondary">{{cartList[item.slug]}}</strong>
                            <button type="button" ng-click="addToCart(item.slug)"
                                    class="btn btn-sm btn-outline-secondary">
                                +
                            </button>
                        </div>
                        <!--                        <small ng-show="cartList[item.slug]" class="text-warning">added In Cart</small>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="w-100"></div>
        <div class="w-25"></div>
        <div class="w-50">
            <hr/>
            <button ng-click="more()" class="btn  btn-block btn-lg btn-dark">Show More</button>
        </div>
        <div class="w-25"></div>

    </div>
</div>


